/***************************/
/*        GW2 Tools        */
/***************************/
.gw2-tool {
    --input-height: 40px;
}
.gw2-tool
    :is(
        textarea,
        .multi-select-container,
        input.metadata-input-text,
        input[type="date"],
        input[type="datetime-local"],
        input[type="text"],
        input[type="search"],
        input[type="email"],
        input[type="password"],
        input[type="number"]
    ) {
    font-size: var(--font-ui-medium);
}
.gw2-tool :is(select, .combobox-button, .dropdown) {
    font-size: var(--font-ui-medium);
    min-width: 150px;
}
.gw2-tool button {
    font-size: var(--font-ui-medium);
}
.gw2-tool button:not(.mx-copy-button):has(> svg) {
    --icon-size: 24px;
    padding: var(--size-4-1) var(--size-4-2);
}
.gw2-tool .checkbox-container {
    width: var(--toggle-width);
    height: calc(var(--toggle-thumb-height) + var(--toggle-border-width) * 2);
}
.gw2-tool .checkbox-container::after {
    width: var(--toggle-thumb-width);
    height: var(--toggle-thumb-height);
    margin: var(--toggle-border-width) 0 0 0;
    transform: translate3d(var(--toggle-border-width), 0, 0);
}
.gw2-tool .checkbox-container.is-enabled::after {
    transform: translate3d(calc(var(--toggle-width) - var(--toggle-thumb-width) - var(--toggle-border-width)), 0, 0);
}

/* Settings */
.gw2-tool .settings {
    margin-block-end: var(--p-spacing);
}
.gw2-tool .settings .header {
    margin-block-start: 0;
}
.gw2-tool .settings .setting {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: var(--size-4-2);
    margin-block-start: var(--p-spacing);
    margin-block-end: var(--p-spacing);
}

/***************************/
/*       Guild Hall        */
/***************************/
.guild-upgrade .details {
    --dl-padding: 6em;
}
.guild-upgrade .details dt {
    padding: 2px 0;
}
.guild-upgrade .details dd.requirements div:first-child {
    display: inline;
}
.guild-upgrade .details .requirements.no-requirements {
    font-style: oblique;
}
.guild-upgrade .materials {
    --dl-padding: 3em;
}
.guild-upgrade .materials .copy-code-button {
    position: relative;
}
.guild-upgrade p:has(+ dl.materials-list) {
    margin-block-start: calc(0.6 * var(--p-spacing));
    margin-block-end: 0;
}
.guild-upgrade p + dl.materials-list {
    margin-block-start: 0;
}
.guild-upgrade dl.materials-list {
    /* add extra padding for the definition list view */
    padding-top: var(--size-4-2);
}
.guild-upgrade .materials dt {
    text-align: right;
    padding: 4px var(--size-4-2);
    border-right: 1px solid var(--color-base-60);
}
.guild-upgrade .materials dd {
    padding-left: var(--size-4-2);
}

/***************************/
/*      Upgrade Plan       */
/***************************/
.upgrade-plan .phase .header {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    gap: var(--size-4-2);
}
.upgrade-plan .phase .header .materials-link {
    font-size: var(--font-ui-medium);
}
.upgrade-plan .phase ul {
    margin-block-start: 0;
}

/***************************/
/*     Materials List      */
/***************************/
.materials .view-select {
    margin-block-start: calc(var(--p-spacing) * 1.5);
    margin-block-end: var(--p-spacing);
    margin-left: 2px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: var(--size-4-2);
}
.materials .materials-list .task-list-item.is-checked.is-partial,
.theme-dark .materials .materials-list .task-list-item.is-checked.is-partial {
    opacity: 1;
}
.materials .materials-list .task-list-item.is-checked.is-partial > input[type="checkbox"]:checked:after {
    top: -1px;
    inset-inline-start: -1px;
    -webkit-mask-size: 80%;
    -webkit-mask-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-minus-icon lucide-minus"><path d="M5 12h14"/></svg>');
}
.materials .materials-list:has(> .task-list-item > .collapse-icon) > .task-list-item {
    padding-left: 18px;
}
.materials .materials-list > .task-list-item:has(.collapse-icon) {
    position: relative;
}
.materials .materials-list > .task-list-item > .collapse-icon {
    position: absolute;
    top: 6px;
    left: -30px;
}
.materials .materials-list > .task-list-item > .collapse-icon svg.svg-icon {
    width: var(--size-4-4);
    height: var(--size-4-4);
    stroke-width: 2px;
}
.materials .materials-list .task-list-item > .item-text {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: baseline;
    gap: var(--size-4-2);
}
.materials .materials-list .warning {
    align-self: center;
    color: var(--color-orange);
    width: 22px;
    height: 22px;
    margin-top: var(--size-4-1);
}
.materials .warning svg {
    width: 100%;
    height: 100%;
    stroke-width: 2px;
}
.materials .materials-list .upgrade-list {
    margin-block-start: var(--size-4-1);
}
.materials .materials-list .upgrade-list .warning {
    margin-top: 0;
}
.materials .materials-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
}
.materials .materials-header .warning {
    color: var(--color-orange);
    width: 22px;
    height: 22px;
    align-self: center;
}

/***************************/
/*      Item Selector      */
/***************************/
.theme-light .item-selector {
    --list-background-color: var(--color-base-00);
    --list-border-color: var(--color-base-30);
    --trek-background-color: var(--color-base-05);
    --trek-border-color: var(--color-base-35);
}
.theme-dark .item-selector {
    --list-background-color: var(--color-base-25);
    --list-border-color: var(--color-base-30);
    --trek-background-color: var(--color-base-30);
    --trek-border-color: var(--color-base-40);
}
.item-selector {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: var(--size-4-4);
}
.markdown-rendered .item-selector .header {
    margin-block-start: 0;
    margin-block-end: var(--size-4-2);
}
.item-selector .column {
    flex-basis: 1%;
    flex-grow: 1;
    min-width: 200px;
}
.item-selector .list {
    background: var(--list-background-color);
    border: var(--border-width) solid var(--list-border-color);
    font-family: inherit;
    padding: var(--size-4-2);
    border-radius: var(--input-radius);
    outline: none;
    overflow: auto;
    display: flex;
    flex-flow: column nowrap;
    gap: var(--size-4-2);
    width: 100%;
    height: 400px;
}
.item-selector .list .item {
    display: flex;
    align-items: center;
    padding: var(--size-4-1) var(--size-4-2);
    background: var(--trek-background-color);
    border: var(--border-width) solid var(--trek-border-color);
    border-radius: var(--input-radius);
    outline: none;
}
.item-selector .list .item .details {
    flex-basis: 99%;
}
.item-selector .item .details .item-name {
    font-weight: var(--bold-weight);
}
.item-selector .item .details .item-desc {
    font-size: var(--font-ui-medium);
    color: var(--text-faint);
}
.item-selector .list .item .button {
    flex-basis: 1%;
}
.item-selector .search input {
    width: 100%;
    margin-block-end: var(--size-4-3);
}
.item-selector .search input:focus {
    box-shadow: 0 0 0 var(--input-border-width-focus) var(--background-modifier-border-focus) inset;
}
.item-selector .saved .buttons {
    display: flex;
    flex-flow: row nowrap;
    margin-block-start: var(--size-4-3);
}
.item-selector .saved .buttons button {
    flex-basis: 100%;
    font-size: var(--font-ui-large);
}

/***************************/
/*       Guild Treks       */
/***************************/
.guild-trek .settings .setting {
    gap: var(--size-4-1);
}
.guild-trek .settings .label {
    width: var(--size-4-6);
    text-align: center;
}
.guild-trek .settings input[type="range"] {
    width: 180px;
}

.guild-trek .waypoints {
    margin-block-start: calc(var(--p-spacing) * 2);
}
.guild-trek .waypoints .player-header {
    margin-block-end: 0;
}

/***************************/
/*  Aetherium Calculator   */
/***************************/
.aetherium h2:not(:first-of-type) {
    margin-block-start: calc(var(--p-spacing) * 3);
}

.aetherium > :is(.discord, .timer, .calculator) {
    display: flex;
    flex-flow: row wrap;
    gap: var(--size-4-4);
}
.aetherium > :is(.discord, .timer, .calculator) > * {
    flex-grow: 1;
}

.aetherium .discord .mining-rate {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: var(--size-4-2);
}
.aetherium .discord .override {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: var(--size-4-2);
    margin-block-start: var(--size-4-2);
}
.aetherium .discord .details > * {
    margin-block-start: var(--size-4-2);
}
.aetherium .discord .inputs {
    margin-block-start: var(--size-4-6);
}
.aetherium .discord .inputs :is(.current, .target) {
    display: flex;
    align-items: center;
    margin-block-end: var(--size-4-2);
}
.aetherium .discord .inputs :is(.current, .target) > *:first-child {
    width: 100px;
}
.aetherium .discord .inputs .buttons {
    display: flex;
    gap: var(--size-4-3);
    margin-block-start: var(--size-4-4);
}
.aetherium .discord .results .format {
    font-weight: var(--bold-weight);
}
.aetherium .discord .results .code > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--size-4-2);
}
.aetherium .discord .results .code-box {
    height: 36px;
    width: 180px;
    background: var(--background-modifier-form-field);
    border: var(--input-border-width) solid var(--background-modifier-border);
    color: var(--color-accent);
    font-family: var(--font-monospace);
    font-size: var(--font-ui-medium);
    padding: var(--input-padding);
    border-radius: var(--input-radius);
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.aetherium .discord .results .code .mx-copy-button {
    position: relative;
    height: 34px;
    width: 36px;
}

.aetherium .timer .table :is(th, td) {
    text-align: center;
}
.aetherium .timer .table .row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.aetherium .timer .table .controls {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    gap: var(--size-4-2);
}
.aetherium .timer .results {
    display: flex;
    flex-direction: column;
    gap: var(--size-4-2);
}
.aetherium .timer .results .time {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: var(--size-4-2);
}
.aetherium .timer .results .label {
    width: 90px;
    font-weight: var(--bold-weight);
    color: var(--color-accent);
}

.aetherium .calculator {
    flex-flow: column nowrap;
}
.aetherium .calculator > * {
    margin-block-end: var(--size-4-2);
}
.aetherium .calculator .mining-rate {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: var(--size-4-2);
}
.aetherium .calculator .mining-rate .dropdown {
    margin-right: var(--size-4-2);
}
.aetherium .calculator .override {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: var(--size-4-2);
}
.aetherium .calculator .time {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: var(--size-4-2) var(--size-4-6);
}
.aetherium .calculator .time > * {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: var(--size-4-1);
    flex-basis: 1%;
}
.aetherium .calculator .time .dropdown {
    min-width: 70px;
    text-align: center;
}
