/***************************/
/*  Default CSS Overrides  */
/***************************/
body {
    /* Change margins for editor, preview, popovers */
    --file-margins: var(--size-4-4) var(--size-4-6);
    /* Adjust position of line numbers */
    --file-folding-offset: var(--size-4-3);
    /* Default preview width */
    --file-line-width: 900px;

    --sidebar-markdown-font-size: var(--font-text-size);

    --code-background: var(--background-secondary);
    --code-size: 0.88888888em;

    --popover-width: 600px;
    --popover-height: auto;
    --popover-max-height: 50vh;

    --heading-spacing: 1.5rem;
    --h1-color: var(--color-purple);
    --h2-color: var(--color-purple);
    --h3-color: var(--color-purple);
    --h4-color: var(--color-purple);
    --h5-color: var(--color-purple);
    --h6-color: var(--color-purple);
    --h1-font: "Roboto Condensed", var(--font-text);
    --h2-font: "Roboto Condensed", var(--font-text);
    --h3-font: "Roboto Condensed", var(--font-text);
    --h4-font: "Roboto Condensed", var(--font-text);
    --h5-font: "Roboto Condensed", var(--font-text);
    --h6-font: "Roboto Condensed", var(--font-text);
    --h1-size: 2.22222222em;
    --h2-size: 1.77777777em;
    --h3-size: 1.44444444em;
    --h4-size: 1.22222222em;
    --h5-size: 1.11111111em;
    --h6-size: 1.05555555em;
    --h1-weight: 500;
    --h2-weight: 500;
    --h3-weight: 500;
    --h4-weight: 500;
    --h5-weight: 500;
    --h6-weight: 500;

    --inline-title-line-height: 1;

    --list-indent: 20px;

    /* Set checkboxes back to purple */
    --purple-h: 258;
    --purple-s: 88%;
    --purple-l: 66%;
    --checkbox-color: hsl(calc(var(--purple-h) - 1), calc(var(--purple-s) * 1.01), calc(var(--purple-l) * 1.075));
    --checkbox-color-hover: hsl(calc(var(--purple-h) - 3), calc(var(--purple-s) * 1.02), calc(var(--purple-l) * 1.15));

    /* Use Roboto font */
    --font-text-theme: "Roboto";
    --font-monospace-theme: "Roboto Mono";
}

/***************************/
/*         Editor          */
/***************************/
.markdown-source-view {
    --h1-weight: 600;
}
.cm-hmd-frontmatter {
    font-size: 0.77777777em;
}
.cm-hmd-frontmatter.cm-hmd-frontmatter.cm-def {
    color: var(--color-red);
}
.markdown-source-view.mod-cm6 .cm-gutters {
    /* Adjust position of line numbers */
    margin-left: calc(0px - var(--file-folding-offset));
}

/* Color code block first/last lines */
.markdown-source-view.mod-cm6 .cm-line.HyperMD-codeblock-begin,
.markdown-source-view.mod-cm6 .cm-line.HyperMD-codeblock-end {
    color: var(--color-red);
}

/* Round top corners of callouts and block quotes */
.markdown-source-view .HyperMD-callout,
.markdown-source-view div:not(div.HyperMD-quote ~ div.HyperMD-quote).HyperMD-quote {
    border-top-left-radius: var(--code-radius);
    border-top-right-radius: var(--code-radius);
}
/* Round bottom corners of block quotes (includes callouts) */
.markdown-source-view div.HyperMD-quote:not(:has(+ div.HyperMD-quote)) {
    border-bottom-left-radius: var(--code-radius);
    border-bottom-right-radius: var(--code-radius);
}

/* Make block quotes stand out in the editor for visibility */
.markdown-source-view.mod-cm6 .HyperMD-quote {
    background-color: var(--code-background);
    padding-right: 4px;
}
.HyperMD-quote span.cm-formatting-quote {
    color: var(--color-red);
}

/***************************/
/*      Reading View       */
/***************************/
.markdown-rendered p,
/* Override the default css */
.markdown-embed-content p:first-child {
    text-align: justify;
}

.markdown-rendered code {
    padding-left: 5px;
    padding-right: 5px;
}

hr {
    margin: 1.25rem 0;
}

/* Fix first paragraph margin if first page element is a floating image */
.markdown-rendered > .markdown-preview-section > .mod-ui + div:not(.mod-ui) > p:has(> * figure.float-right) {
    margin: 0;
}

/***************************/
/*        Popovers         */
/***************************/
.popover {
    box-shadow: var(--shadow-l);
}
.popover.hover-popover {
    border-color: var(--background-modifier-border);
    max-height: var(--popover-max-height);
}
.popover.hover-popover .markdown-preview-section {
    padding-bottom: var(--size-4-4) !important;
}
.popover.hover-popover .markdown-embed-link {
    display: none;
}
.popover.hover-popover img {
    max-width: 100%;
}

/***************************/
/*      Inline Title       */
/***************************/
.markdown-rendered .inline-title {
    display: inline-block;
    border-bottom: 1px solid var(--text-faint);
    padding-right: var(--size-4-1);
}

/***************************/
/*        Headings         */
/***************************/
.markdown-rendered :is(h1, h2, h3) {
    letter-spacing: 0;
}
.markdown-rendered :is(h4, h5, h6) {
    --heading-spacing: var(--p-spacing);
    letter-spacing: 0.025em;
}
.markdown-rendered div:not(.inline-title) > :is(h1, h2, h3, h4, h5, h6) {
    margin-block-end: calc(-1 * var(--font-text-size));
}

/* Set the margin for all headings that are not preceeded by another heading (i.e.: just the first one). */
/* 2024.02.13 - By referencing div.mod-header, this will find the first heading that is not preceded by another one.
                When Obsidian unloads the upper portion of the file as it is scrolled, the .mod-header will also
                be removed, thus skipping this rule.
*/
.markdown-rendered div.mod-header ~ div:not(div:has(> :is(h1, h2, h3, h4, h5, h6, p, table)) ~ div:has(> :is(h1, h2, h3, h4, h5, h6))) > :is(h1, h2, h3, h4, h5, h6) {
    --heading-spacing: 0;
}

/* Fixes spacing when images are directly after headings */
div:has(> :is(h1, h2, h3, h4, h5, h6)) + div:has(> :is(figure, img)) {
    margin-block-start: 1rem;
}
div:has(> :is(h1, h2, h3, h4, h5, h6)) + div > figure {
    margin-block-start: 0;
}
div:has(> :is(h1, h2, h3)) + div > img {
    margin-block-start: -6px;
}
div:has(> :is(h4, h5)) + div > img {
    margin-block-start: -2px;
}

/* Fix spacing for dataview blocks after headings */
div:has(> :is(h1, h2, h3, h4, h5, h6)) + div:has(> :is(.block-language-dataviewjs)) {
    margin-block-start: 1rem;
}

/***************************/
/*         Common          */
/***************************/
pre,
code {
    text-align: left;
}
.hidden {
    display: none;
}
.centered {
    margin-left: auto;
    margin-right: auto;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
div:has(> .clear) {
    clear: both;
}
/* figures and images have their own width styles below */
:not(figure, img).width-auto {
    width: auto !important;
}
:not(figure, img).width-5 {
    width: 5% !important;
}
:not(figure, img).width-10 {
    width: 10% !important;
}
:not(figure, img).width-15 {
    width: 15% !important;
}
:not(figure, img).width-20 {
    width: 20% !important;
}
:not(figure, img).width-25 {
    width: 25% !important;
}
:not(figure, img).width-30 {
    width: 30% !important;
}
:not(figure, img).width-33 {
    width: 33.33333333% !important;
}
:not(figure, img).width-35 {
    width: 35% !important;
}
:not(figure, img).width-40 {
    width: 40% !important;
}
:not(figure, img).width-45 {
    width: 45% !important;
}
:not(figure, img).width-50 {
    width: 50% !important;
}
:not(figure, img).width-55 {
    width: 55% !important;
}
:not(figure, img).width-60 {
    width: 60% !important;
}
:not(figure, img).width-65 {
    width: 65% !important;
}
:not(figure, img).width-70 {
    width: 70% !important;
}
:not(figure, img).width-75 {
    width: 75% !important;
}
:not(figure, img).width-80 {
    width: 80% !important;
}
:not(figure, img).width-85 {
    width: 85% !important;
}
:not(figure, img).width-90 {
    width: 90% !important;
}
:not(figure, img).width-95 {
    width: 95% !important;
}
:not(figure, img).width-100 {
    width: 100% !important;
}

/***************************/
/*         Images          */
/***************************/
figure,
img {
    /* Center figures and images */
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

figure.align-left,
img.align-left {
    margin-left: unset;
}
figure.align-right,
img.align-right {
    margin-right: unset;
}

/* images should fill the figure and use the .width-XX classes applied to the figure to scale */
figure > img {
    width: 100%;
}

/* Reset img display in headings */
:is(h1, h2, h3, h4, h5, h6) img {
    display: inline;
}

/* Captions */
figcaption,
.img-caption {
    font-weight: var(--bold-weight);
    font-size: 0.88888888em;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
    margin-block-start: var(--size-4-1);
    margin-inline-start: auto;
    margin-inline-end: auto;
    width: 100%;
}

figure.float-left,
img.float-left {
    margin-inline-end: 1em;
}
figure.float-right,
img.float-right {
    margin-inline-start: 1em;
}
figure.float-left,
figure.float-right,
img.float-left,
img.float-right {
    margin-block-start: 0.25em;
    margin-block-end: 1em;
}

.art img,
.map img,
img.art,
img.map {
    border-radius: var(--size-4-2);
}

/* Default the image container width to a normal file's width */
body {
    --img-container-width: var(--file-line-width);
}
/* change for popovers */
.popover.hover-popover {
    --img-container-width: var(--popover-width);
}

/* Styles for setting the width of a figure/img based on line width */
.markdown-rendered :is(figure, img).width-5 {
    max-width: calc(0.05 * var(--img-container-width));
}
.markdown-rendered :is(figure, img).width-10 {
    max-width: calc(0.1 * var(--img-container-width));
}
.markdown-rendered :is(figure, img).width-15 {
    max-width: calc(0.15 * var(--img-container-width));
}
.markdown-rendered :is(figure, img).width-20 {
    max-width: calc(0.2 * var(--img-container-width));
}
.markdown-rendered :is(figure, img).width-25 {
    max-width: calc(0.25 * var(--img-container-width));
}
.markdown-rendered :is(figure, img).width-30 {
    max-width: calc(0.3 * var(--img-container-width));
}
.markdown-rendered :is(figure, img).width-33 {
    max-width: calc(0.33333333 * var(--img-container-width));
}
.markdown-rendered :is(figure, img).width-35 {
    max-width: calc(0.35 * var(--img-container-width));
}
.markdown-rendered :is(figure, img).width-40 {
    max-width: calc(0.4 * var(--img-container-width));
}
.markdown-rendered :is(figure, img).width-45 {
    max-width: calc(0.45 * var(--img-container-width));
}
.markdown-rendered :is(figure, img).width-50 {
    max-width: calc(0.5 * var(--img-container-width));
}
.markdown-rendered :is(figure, img).width-55 {
    max-width: calc(0.55 * var(--img-container-width));
}
.markdown-rendered :is(figure, img).width-60 {
    max-width: calc(0.6 * var(--img-container-width));
}
.markdown-rendered :is(figure, img).width-65 {
    max-width: calc(0.65 * var(--img-container-width));
}
.markdown-rendered :is(figure, img).width-70 {
    max-width: calc(0.7 * var(--img-container-width));
}
.markdown-rendered :is(figure, img).width-75 {
    max-width: calc(0.75 * var(--img-container-width));
}
.markdown-rendered :is(figure, img).width-80 {
    max-width: calc(0.8 * var(--img-container-width));
}
.markdown-rendered :is(figure, img).width-85 {
    max-width: calc(0.85 * var(--img-container-width));
}
.markdown-rendered :is(figure, img).width-90 {
    max-width: calc(0.9 * var(--img-container-width));
}
.markdown-rendered :is(figure, img).width-95 {
    max-width: calc(0.95 * var(--img-container-width));
}
.markdown-rendered :is(figure, img).width-100 {
    max-width: var(--img-container-width);
}

/* Flip images */
figure.flip-x img,
img.flip-x {
    -webkit-transform: scaleX(-1);
    transform: scaleX((-1));
}
figure.flip-y img,
img.flip-y {
    -webkit-transform: scaleY(-1);
    transform: scaleY((-1));
}

figure.flip-xy img,
img.flip-xy {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

/* Dropshadow */
figure.shadow img,
img.shadow {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
}

/***************************/
/*          Icons          */
/***************************/
.mx-image.icon,
.mx-image.icon-sm {
    display: inline-flex;
    margin-block-start: 0;
    margin-block-end: 0;
    position: relative;
}
.mx-image.icon img {
    height: 24px;
    position: relative;
    top: 6px;
}
.mx-image.icon-sm img {
    height: 20px;
    top: 2px;
}

/* Correction for bullet lists with icons */
ul.has-list-bullet > li:has(.mx-image.icon) .list-bullet::after {
    top: 15px;
}

/***************************/
/*          Links          */
/***************************/
.markdown-rendered {
    --link-decoration: none;
    --link-decoration-hover: none;
    --link-external-decoration: none;
    --link-external-decoration-hover: none;
    --link-unresolved-color: var(--color-pink);
}

/* Unresolved links */
.markdown-rendered .internal-link.is-unresolved {
    font-weight: var(--bold-weight);
    font-style: italic;
}
.markdown-rendered .internal-link.is-unresolved:hover {
    color: var(--link-unresolved-color);
}

/** Hide the icon that denotes external links **/
.external-link {
    background: none;
    padding-inline-end: unset;
}

/* Use link color for highlighted links */
.markdown-rendered mark .internal-link {
    color: var(--link-color);
}

/***************************/
/*          Lists          */
/***************************/
.markdown-rendered .list-bullet {
    margin-left: -14px;
}
/* Alternate styles for nested ordered lists */
.markdown-reading-view ol > li > ol {
    list-style-type: lower-alpha;
}
.markdown-reading-view ol > li > ol > li > ol {
    list-style-type: lower-roman;
}
/* Justify text in list items */
.markdown-reading-view li {
    text-align: justify;
}

/***************************/
/*       Task Lists        */
/***************************/
.markdown-rendered ul.contains-task-list {
    --list-indent: 25px;
}
/* Adjust alignment of li text by moving everything over and then 
   moving the first line back the same amount.                    */
.markdown-rendered ul.contains-task-list > li.task-list-item {
    text-indent: -1px;
    padding-left: 3px;
}
/* Adjust indentation guide */
.markdown-rendered.show-indentation-guide li.task-list-item > ul::before,
.markdown-rendered.show-indentation-guide li.task-list-item > ol::before {
    left: -20px;
}

/* fade completed task list items */
.markdown-rendered ul.contains-task-list > .task-list-item.is-checked {
    --checklist-done-decoration: none;
    opacity: 0.25;
}
/* but reset child opacities */
.markdown-rendered ul.contains-task-list > .task-list-item.is-checked ul.contains-task-list > .task-list-item.is-checked {
    opacity: 1;
}
.theme-dark .markdown-rendered ul.contains-task-list > .task-list-item.is-checked {
    opacity: 0.15;
}

/***************************/
/*          Code           */
/***************************/
/* lighten background when in dark mode */
.theme-dark .markdown-rendered :is(code, pre) {
    --code-background: var(--color-base-30);
}
/* darken code background in side panels */
.mod-sidedock .markdown-rendered :is(code, pre) {
    --code-background: var(--color-base-30);
}

/***************************/
/*        Callouts         */
/***************************/
.callout {
    --callout-border-width: 0 0 0 4px;
    --callout-border-opacity: 1;
    --callout-radius: 6px;
    --callout-padding: 0;
    --callout-title-padding: 0;
    --callout-content-padding: var(--size-4-5) var(--size-4-4);
    --icon-size: 100%;

    box-shadow: 0 3px 8px var(--background-modifier-box-shadow);
}
.callout-title {
    align-items: center;
    justify-content: flex-start;
    gap: 0;
    height: calc(2.5 * var(--font-text-size));
    background-color: rgba(var(--callout-color), 0.2);
}
.callout-icon {
    color: rgb(var(--callout-color));
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    width: calc(1.66666666 * var(--font-text-size));
}
.callout-content > :first-child,
/* Include this for items inserted due to dataview */
.callout-content > .block-language-dataviewjs > :first-child {
    margin-block-start: 0;
}
.callout-content > :last-child,
/* Include this for items inserted due to dataview */
.callout-content > .block-language-dataviewjs > :first-child {
    margin-block-end: 0;
}

/* Dataview adjustments */
.callout-content .block-language-dataviewjs {
    display: contents;
}

/* Fixes spacing when callouts are directly after h1, h2, h3, and h4 headings */
div:has(> :is(h1, h2, h3, h4)) + div > div.callout {
    margin-block-start: 1.25em;
}

/* Clear Callout */
.callout[data-callout-metadata~="clear"] {
    clear: both;
}

/* Darken code background in callouts */
.callout .callout-content code {
    --code-background: var(--color-base-25);
}

/***************************/
/*  Multi-Column Callouts  */
/***************************/
/**
 * These settings apply when added after a pipe symbol (|) 
 * after the callout type.
 */
.callout[data-callout-metadata~="multi-column"] > .callout-title,
.callout[data-callout-metadata~="double-column"] > .callout-title,
.callout[data-callout-metadata~="triple-column"] > .callout-title {
    display: none;
}
.callout[data-callout-metadata~="multi-column"] > .callout-content,
.callout[data-callout-metadata~="double-column"] > .callout-content {
    display: flex !important;
    flex-flow: row wrap;
    align-items: flex-start;
    column-gap: 20px;
    row-gap: 1em;
}
.callout[data-callout-metadata~="triple-column"] > .callout-content {
    display: block !important;
    column-count: 3;
    column-width: 250px;
}
.callout[data-callout-metadata~="multi-column"] > .callout-content > .callout {
    margin: 0;
    flex: 1;
}
.callout[data-callout-metadata~="double-column"] > .callout-content > .callout {
    margin: 0;
    flex-basis: 350px;
    flex-grow: 200;
}
.callout[data-callout-metadata~="column-width-20pct"] {
    flex-basis: 140px !important;
    flex-grow: 40 !important;
}
.callout[data-callout-metadata~="column-width-25pct"] {
    flex-basis: 175px !important;
    flex-grow: 50 !important;
}
.callout[data-callout-metadata~="column-width-30pct"] {
    flex-basis: 210px !important;
    flex-grow: 60 !important;
}
.callout[data-callout-metadata~="column-width-35pct"] {
    flex-basis: 245px !important;
    flex-grow: 70 !important;
}
.callout[data-callout-metadata~="column-width-40pct"] {
    flex-basis: 280px !important;
    flex-grow: 80 !important;
}
.callout[data-callout-metadata~="column-width-45pct"] {
    flex-basis: 315px !important;
    flex-grow: 90 !important;
}

/***************************/
/*     Custom Callouts     */
/***************************/
/* Blank */
.callout[data-callout="blank"] {
    --callout-blend-mode: normal;
    border: 0;
    background: unset;
    box-shadow: unset;
}
.callout[data-callout="blank"] > .callout-title {
    display: none;
}
.callout[data-callout="blank"] > .callout-content {
    display: contents;
    font-size: unset;
    padding: 0;
}
